<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="row main-heading">
                <div class="col-md-12 ">
                    <h3 class="p-2 border-bottom ">Contact Management Portal</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header font-weight-bold">
                            Contact List
                        </div>
                        <div class="card-body">
                            <div class="text-right">
                                <button class="btn btn-primary" data-toggle="modal" 
                                    data-target="#addContactModal" data-backdrop="static" (click)="onAddContact()">
                                    <i class="fa fa-user-plus"></i> Add
                                </button>
                            </div>
                            <div class="table-responsive mt-2 contact-list-table">
                                <div class="scrollable">
                                    <table datatable class="table" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                        <thead class="bg-blue border-0">
                                            <tr>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Phone Number</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="contact-list-cursor" *ngFor="let contact of contactList">
                                                <td>{{ contact.firstName }}</td>
                                                <td>{{ contact.lastName }}</td>
                                                <td>{{ contact.email }}</td>
                                                <td>{{ contact.phoneNumber }}</td>
                                                <td>
                                                    <span *ngIf="contact.active;else second" class="badges badges-success">Active</span>
                                                    <ng-template #second>
                                                        <span class="badges badges-danger">InActive</span>
                                                    </ng-template>
                                                </td>
                                                <td>
                                                    <a href="#" type="button" data-toggle="modal"
                                                        data-target="#addContactModal" data-backdrop="static"
                                                        (click)="onEditContact(contact)">
                                                        <i class="fa fa-edit text-success lead fa-lg font-16px"
                                                        title="Edit"></i>
                                                    </a>&nbsp;
                                                    <a href="#" (click)="onDeleteContact(contact.id)">
                                                        <i class="fa fa-trash text-danger fa-lg font-16px"
                                                        title="Delete"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Add Update Contact Modal-->
<div class="modal" id="addContactModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header bg-blue2">
                    <p class="modal-title font-weight-bold" *ngIf="!(isEditpopup$ | async)">Add Contact</p>
                    <p class="modal-title font-weight-bold" *ngIf="(isEditpopup$ | async)">Edit Contact</p>
                    <button type="button" (click)="onCloseModal()" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row py-1">
                    <div class="col-md-12">
                        <form [formGroup]="addContactForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-5 col-lg-4 ">First Name<sup class="text-red">*</sup></label>
                                        <div class="col-md-7 col-lg-8 ">
                                            <input type="text" class="form-control" formControlName="firstNameForm">
                                            <span class="help-block text-danger p-1" *ngIf="firstNameForm.errors?.required && firstNameForm.touched">
                                                First Name is required.
                                            </span>
                                            <span class="help-block text-danger p-1" *ngIf="firstNameForm.errors?.maxlength && firstNameForm.touched">
                                                First Name cannot exceed 20 characters.
                                            </span>
                                            <span class="help-block text-danger p-1" *ngIf="firstNameForm.errors?.pattern && firstNameForm.touched">
                                                Please enter valid value for First Name.
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-5 col-lg-4">Last Name<sup class="text-red">*</sup></label>
                                        <div class="col-md-7 col-lg-8">
                                            <input type="text" class="form-control" formControlName="lastNameForm">
                                            <span class="help-block text-danger p-1" *ngIf="lastNameForm.errors?.required && lastNameForm.touched">
                                                Last Name is required.
                                            </span>
                                            <span class="help-block text-danger p-1" *ngIf="lastNameForm.errors?.maxlength && lastNameForm.touched">
                                                Last Name cannot exceed 20 characters.
                                            </span>
                                            <span class="help-block text-danger p-1" *ngIf="lastNameForm.errors?.pattern && lastNameForm.touched">
                                                Please enter valid value for Last Name.
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-5 col-lg-4">Email<sup class="text-red">*</sup></label>
                                        <div class="col-md-7 col-lg-8">
                                            <input type="text" class="form-control ng-trim-ignore" formControlName="emailIdForm">
                                            <span class="help-block text-danger p-1" *ngIf="emailIdForm.errors?.required && emailIdForm.touched">
                                                Email is required.
                                            </span>
                                            <span class="help-block text-danger p-1" *ngIf="emailIdForm.errors?.pattern && emailIdForm.touched">
                                                Please enter valid value for Email.
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-5 col-lg-4">Mobile Number<sup class="text-red">*</sup></label>
                                        <div class="col-md-7 col-lg-2">
                                            <input type="text" class="form-control ng-trim-ignore" formControlName="countryCodeForm">
                                            <span class="help-block text-danger p-1" *ngIf="countryCodeForm.errors?.required && countryCodeForm.touched">
                                                Country Code is required.
                                            </span>
                                            <span class="help-block text-danger p-1" *ngIf="countryCodeForm.errors?.maxlength && countryCodeForm.touched">
                                                Country Code cannot exceed 4 characters.
                                            </span>
                                            <span class="help-block text-danger p-1" *ngIf="countryCodeForm.errors?.pattern && countryCodeForm.touched">
                                                Please enter valid value for Country Code.
                                            </span>
                                        </div>
                                        <div class="col-md-7 col-lg-6">
                                            <input type="text" class="form-control ng-trim-ignore" formControlName="phoneNumberForm">
                                            <span class="help-block text-danger p-1" *ngIf="phoneNumberForm.errors?.required && phoneNumberForm.touched">
                                                Mobile Number is required.
                                            </span>
                                            <span class="help-block text-danger p-1" *ngIf="(phoneNumberForm.errors?.maxlength || phoneNumberForm.errors?.minlength) && phoneNumberForm.touched">
                                                Mobile Number should contain and cannot exceed 10 characters.
                                            </span>
                                            <span class="help-block text-danger p-1" *ngIf="phoneNumberForm.errors?.pattern && phoneNumberForm.touched">
                                                Please enter valid value for Mobile Number.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer border-0  justify-content-center model-footer-margin" *ngIf="!(isEditpopup$ | async)">
                <button type="button" class="btn btn-primary" [disabled]="!addContactForm.valid" data-dismiss="modal" (click)="saveContact()">Add</button>
                <button type="button" id="cancelAddContact" class="btn  btn-outline-primary " data-dismiss="modal" (click)="onCloseModal()">Cancel</button>
            </div>
            <div class="modal-footer border-0  justify-content-center model-footer-margin" *ngIf="(isEditpopup$ | async)">
                <button type="button" class="btn btn-primary" [disabled]="!addContactForm.valid" data-dismiss="modal" (click)="saveContact()">Edit</button>
                <button type="button" id="cancelAddContact" class="btn  btn-outline-primary " data-dismiss="modal" (click)="onCloseModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>
